@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
html, body {
    height: 100%;
    width:100%;
    font-family: 'Montserrat', sans-serif;
}
#root{
    height:100%;
    width:100%;
}

input[type="text"],input[type="password"] {

    background: #EEF1F8 0% 0% no-repeat padding-box;
    border-radius: 8px;

}
